@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Inter:wght@600&family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');

/* Använd dessa fonts med detta */
/* font-family: 'Inika', serif;
font-family: 'Inter', sans-serif;
font-family: 'Krona One', sans-serif; */

.GomokuGurus-logo {
  height: 6vmin;
  pointer-events: none;
}

/* Board Styling */
.board-container {
  display: flex;
  margin: 0 auto;
  margin-left: -5px;

  flex-direction: column;
  align-items: center; 
}

.board {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(15, 1fr);
  grid-gap: 0px;
  max-width: 765px;
  border: solid #967248 10px; 
  border-radius: 8px;
}

.cell {
  width: 30px;
  height: 30px;
  border: rgb(0, 0, 0) 1.1px solid;
  background-color: whitesmoke;
  background-color: FFFFFF;

}

.b-circle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: black;
}

.w-circle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: white;
  border: solid black 1px;
}

.invisible-board {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: -29rem;
}

.i-board {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  grid-gap: 0px;
  max-width: 765px;
}

.invisible-cell {
  width: 30px;
  height: 30px;
  border: white 1px solid;
  background-color: transparent;
  border-color: transparent;
  z-index: 1;
}

/* Navbar */
.navbar {
  background-color: #1A3944;
  height: 121px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 30px 0;
}

.navbar .navigation-links {
  display: flex;
  align-items: flex-end;
  list-style: none;
}

#dropdown {
  cursor: pointer;
}

.navbar .navigation-links li button {
  border: none;
  box-shadow: none;
  background-color: #1A3944;
  color: white;
  cursor: pointer;
}

.navbar .navigation-links li * {
  font-size: 1.1rem;
  font-weight: 400;
  font-family: 'Krona One', sans-serif;
}

.navbar .navigation-links li svg {
  padding-top: 5px;
  margin-left: 5px;
}

.navbar .navigation-links li {
  margin: 0 20px 20px;
}

.navbar .navigation-links li a {
  color: white;
  background-color: #1A3944;
  text-decoration: none;
}

/* log in modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 100;
  }

  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    color: #293436;
    padding: 20px;
    border: 10px solid #293436;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 101;
    background: linear-gradient(
        to bottom right,
        #ffffff,
        #34495E)
  }

  .close-modal {
    position: relative;
    top: -1rem;
    left: 16.5rem;
    border: transparent;
    background-color: transparent;
    font-size: x-large;
    cursor: pointer;
  }

  .modal-input {
    padding: 4px;
    border-radius: 5px;
    height: 2rem;
    width: 17.3rem;
    margin-top: 1rem;
  }

  .modal-cont-btn {
    margin-top: 2rem;
    font-size: x-large;
    width: 17.3rem;
    height: 3rem;
    background-color: #212529;
    color: #ffffff;
    cursor: pointer;
  }

/* Home Section komponent styling */
.start-button{
  color: white;
  display: inline-block;
  background-color: #000000;
  height: 65px;
  width: 200px;
  font-size: larger;
  border: 1px solid #00E0FF;
  border-radius: 7px;
  box-shadow: #00E0FF 2px 2px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  cursor: pointer;
  background: linear-gradient(90deg, transparent 50%, #000 50%);
  background-size: 200% 100%;
  background-position: -100%;
  transition: background-position 0.5s;
}

.start-button:hover{
  background-position: 100%;
  background: linear-gradient(190deg, transparent 50%, #00E0FF 125%);
}

.main-content{
  font-size: calc(10px + 2vmin);
  display: flex;
  flex-direction: column;
  row-gap: 110px;
  align-items: center;
}

.hero-text{
  display: flex;
  flex-direction: column;
  font-size:500;
  row-gap: 70px;
  margin-top: 9%;
}

.hero-text h3{
  font-family:'Carter One';
  font-weight: lighter;
}

.hero-text h5 {
  text-align: center;
  font-weight: lighter;
  font-size:larger;
  font-variant-caps:unicase;
}

.arrow-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    font-size: 40px;
    color: white;
    margin-top: 30px;
}

.about-text {
    font-size: 19;
    font-family: 'Krona One', sans-serif;
    background-color: #17626C;
    border-radius: 17px;
    padding: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    line-height: 1.5;

}

.about-page {
    width: 60%;
    margin: 0 auto;

}
 .title-about {
    margin-bottom: 30px;
 }

 .playbutton-about {
    text-align: right;
 }

 /* spel page styling */
.board-top{
  display: flex;
  align-items: center;
 column-gap: 10px;

}
.board-top button{
  height: 50px;
  width: 115px;
  background-color: #000;
  color: #ffffff;
  border:  1px solid #0F8898;
  border-radius: 4px;
  cursor:pointer;
  font-family:'Carter One';
  font-family: 'Krona One', sans-serif;
}

.game-info{
  display: flex;
  background-color: #0F8898;
  width: 343px;
  height: 50px;
  align-items: center;
  justify-content:space-evenly;
  border-radius: 4px;
  font-family: 'Krona One', sans-serif;
  font-size: smaller;
}

.board-bottom{
  width: 470px;
  height: 60px;
  background-color:  #0F8898;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 4px ;
  margin-top: -475px;
}
.board-timer{
  display: flex;
  column-gap: 15px;
}
.board-con{
  display: flex;
  flex-direction: column;
  justify-content: left;
  row-gap: 7px;
 margin: 20px 40px 40px 40px;
 }
 
 .black-circle{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #000;
 }
 .white-circle{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
 }
 .div{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
 }
 .game-details{
  background-color: #D9D9D9;
  width: 300px;
  height: 300px;
  color: #000;
  display: flex;
  flex-direction: column;
  border: 3px solid #0F8898;
  justify-content:space-around;
  align-items:center;
  font-family: 'Krona One', sans-serif;

 }
 .game-details button{
  width: 60px;
  height: 30px;
  background-color: #00E0FF; 
 }
 .player{
  display: flex;
  align-items: center;
  column-gap: 20px;
 }
 .icons{
 height: 23px;
 width: 50px;
 }

/* kontakta oss page */
.text-contact {
    text-align: center;
    font-family: 'Krona One', sans-serif;
    margin: 3rem 0;
}

.contact-form {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    max-width: 500px;
    margin: 0 auto;
    background-color: #04151B;
    border-right: 1px solid #00E0FF;
    border-bottom: 1px solid #00E0FF;
    border-radius: 10px;
}

.input-form {
    background-color: transparent;
    border: 1px solid #00E0FF;
    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
    margin-bottom: 1rem;
    padding: .5rem .25rem;
    color: #ffffff;
}

.form-btn {
    border-radius: 5px;
    padding: 0.5rem 1rem;
    background-color: #00E0FF;
    margin-top: 2rem;
    cursor: pointer;
    height: 3rem;
}


.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    border: 1px solid #00E0FF;
    border-radius: 5px;
    padding: 70px;
    box-shadow: 0px 2px 5px #00e0ff;
    text-align: center;
    background: linear-gradient(
        to bottom right,
        #ffffff,
        #34495E)
  }

  .popup p {
    margin: 0;
    color: #000;
    font-family: 'Krona One', sans-serif;
    font-size: larger;
  }

/*   .popup button {
    background-color: #00E0FF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  } */

/*   .popup button:hover, .popup button:focus {
    background-color: #0090CC;
  } */

.form-submitted {
    display: none;
}

 .footer {
    background-color: #000;
    margin-top: auto;
    width: 100%;
    height: 2rem;
    padding-top: .25rem;
    padding-left: 1rem;
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
 }
