* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1A3944;
  min-height: 100vh;
  color: white;
  background-image: url('./abstract-gamer-background-modern-tech-template-design-concept-metallic-blue-and-black-shiny-color-frame-on-carbon-fiber-material-texture-graphic-game-layout-eps-illustration-vector\ \(1\).jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
